**/DE_analysis
**/data
**/results
**/raw_multiqc
**/trimmed_multiqc
**/trimmed_sequences
**/fastqc_reports
**/fastqc_multiqc
**/fastp_reports
**/fastp_multiqc
**/counts
**/Merged_Samples
**/tmp
**/qualimap_multiqc
**/qualimap_reports
**/samtools_stats
**/samtools_stats_multiqc
**/alignments
*.Rproj
*.out
*.fa
*.fai
*.fna
*.gff
*.gtf
*.bam
*.bai
*.ht2
*.err
*.zip
*.gzip
*fastq
*html
*.gz
*.counts
*.counts_2
**/genome
.DS_Store
.Rproj.user
.Rhistory
